@use '../custom'as *;
@use '../components/mixins'as *;

.menu {
  @include gradient;

  li {
    padding: 0 0.7rem;

    a {
      color: $tertiary;
      padding: 0 0.7rem;
      text-transform: capitalize;
      font-weight: 600;
      &.active{
        color: $fourth;
      }
    }

    &:hover {
      color: $primary;
    }
  }
  button{
    background-color: $light-purple;
    color:white;
  }
}

