@use '../custom'as *;
@use '../components/mixins'as *;


.store{
    background-color: $purple;
    @include gradient;
    .card{
        border-radius: 5px;
        background-color: $purple;

    }
    .head{
        padding: 10px;
        background-color: $primary;
        width: 100%;
    }
}
